<div *ngIf="view ==0" class="container py-5">
	<div class="row"> 
	<div class="col-md-6 col-12"> 
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnkrDEEyxc09trf_eIjLaAGpL37qBp7IceQjh84zqiHw&s" alt="Girl in a jacket" width="300" height="280">	
	</div>
	<div style="background-color: #b7b5b159;" class="col-md-5 col-12  mt-5 p-5 pt-5 ">
		<h1 class="ml-5">Admin LOGIN </h1>
		<form  [formGroup]="loginForm" >
		  <div class="form-floating mb-3">
			<input  formControlName="admin" type="text" class="form-control rounded-4"  placeholder="Admin name">
			<label>User Name</label>
		  </div>
		  <div class="form-floating mb-3">
			<input formControlName="passwd" type="password" class="form-control rounded-4" placeholder="Password">
			<label>Password</label>
		  </div>
		  <button   class="w-100 mb-2 btn btn-lg rounded-4 btn-primary"
		   (click)="onForm(loginForm.value)">  Log in </button>
		  
		  <button  *ngIf="push_disabled_enter == 2" class="btn-block btn pull-right">
			<i class="fa fa-spinner fa-spin"></i> Logging...
		  </button>

		  <button [disabled]="true" *ngIf="push_disabled_enter == 3" class="btn btn-block btn-warning pull-right" 
		  type="button"><span class="glyphicon glyphicon-ok"></span>  Invalid User </button>

		  <button [disabled]="true" *ngIf="push_disabled_enter == 4" class="btn btn-block btn-warning pull-right" 
		  type="button"><span class="glyphicon glyphicon-ok"></span>  User Offline </button>


		  <small class="text-muted">By clicking Login, you agree to the terms of use.</small>
		  <hr class="my-4">
		 
		</form>
	  </div>
	</div>
</div>



<div *ngIf="view ==1" class="container py-5">
	<div class="row"> 
	
<div class=" col-4">
	
</div>  
<div class="card col-4">
	<h5>Enter FA2</h5>
	<input class="form-control rounded-4 " placeholder="Enter FA2" type="number" [(ngModel)]="fa2">

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="btn btn-primary" type="submit" (click)="fa22()">Submit</button>

</div>      
<div class=" col-4">

</div>      


             post here

 
 </div>
 </div>


<!-- *ngIf="push_disabled_enter == 1" [disabled]="this.loginForm.valid" -->