<div class="ng-container">
  <div class="col-md-12 text-center">
    <h2 class="h4"> Chart viber ver 0.0.1 <i class="fas fa-list ms-1"></i></h2>
  </div>
</div>


<mat-tab-group animationDuration="10ms">
  <mat-tab label="Chart list">
    <div class="example-container" style="padding: 35px;">
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <h1 class="h5">Upload Holdings <span style="color: blue; font-size: 20px; ">(.CSV)</span></h1>
        <label for="txtFileUpload" class="file-upload">
          <input style="display: none;" type="file" #csvReader name="Upload CSV" id="txtFileUpload"
            (change)="uploadListener($event)" accept=".csv" />
          <span class="file-upload-icon mt-5">
            <i style="font-size: 20px; color: blue; margin-top: 20px;" class="fas fa-upload"></i>
          </span>
          &nbsp;
          <span class="file-upload-text">Choose File</span>
        </label>
        &nbsp;&nbsp;
        <button [disabled]="records.length === 0 || monitoring" *ngIf="records.length > 0" (click)="startMonitoring()"
          class="btn btn-primary">
          <i class="fas fa-play"></i> Start Monitoring
        </button>
        &nbsp;&nbsp;
        <button [disabled]="records.length === 0 || !monitoring" *ngIf="records.length > 0" (click)="stopMonitoring()"
          class="btn btn-primary">
          <i class="fas fa-stop"></i> Stop Monitoring
        </button>
        &nbsp;&nbsp;
        <button *ngIf="records.length > 0" (click)="fileReset()" class="btn btn-primary">
          <i class="fas fa-sync-alt"></i> Reset
        </button>
      </div>


      <h2 *ngIf="papa_ary.length > 0" class="text-center mt-5">CSV Data</h2>


      <ngx-table *ngIf="records.length > 0" [configuration]="configuration" [data]="data" [columns]="columns"
        (event)="onEvent($event)">
        <ng-template let-row>
          <td>
            <div class="font-small">{{ row.Si }}</div>
          </td>
          <td>
            <span class="font-small">{{ row.avg_purchase_value }}</span>
          </td>
          <td>
            <span class="font-small">{{ row.Client_code }}</span>
          </td>
          <td>
            <span class="font-small">{{ row.Client_name }}</span>
          </td>
          <td>
            <span class="font-small">{{ row.Script }}</span>
          </td>
          <!-- <td>
            <span class="font-small">{{ row.Token }}</span>
          </td>
          <td>
            <span class="font-small">{{ row.Status }}</span>
          </td>
 -->

          <!-- <td>
          <button class="btn btn-primary btn-sm" (click)="showModal()">
            Edit
          </button>
        </td> -->
        </ng-template>
      </ngx-table>
<!-- <button (click)="getJsonData()" >json</button> -->
      {{jsondatadisplay}}
    </div>
  </mat-tab>

  <mat-tab label="Notifications">

    <h2 class="text-center text-danger mt-5" *ngIf="data1.length === 0">No notifications please run monitoring first and then get notifications</h2>

    <div class="example-container" style="padding: 10px;" *ngIf="data1.length > 0">    
<div style="display: ruby;">
        <div class="example-header">
          <mat-form-field class="filter">
            <input matInput #input (keyup)="applyFilter(input.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="ExportTOExcel()">Export as CSV</button>
  
</div>
      <div class="example-container mat-elevation-z8">
    
        <mat-table #table [dataSource]="dataSource" matSort>
    
    
          <ng-container matColumnDef="Si">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Si </mat-header-cell>
            <mat-cell  *matCellDef="let element"> {{element.Si}} </mat-cell>
          </ng-container>
    
    
          <ng-container matColumnDef="Client_code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Client_code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Client_code}} </mat-cell>
          </ng-container>
    
    
          <ng-container matColumnDef="avg_purchase_value">
            <mat-header-cell *matHeaderCellDef mat-sort-header> avg_purchase_value </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.avg_purchase_value}} </mat-cell>
          </ng-container>
    
          <ng-containern matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{'status-green': element.Type === 'High', 'status-red': element.Type === 'Low'}">{{element.Type}} </mat-cell>
          </ng-containern>
    
          <ng-container matColumnDef="Script">
            <mat-header-cell *matHeaderCellDef> Script </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Script}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="Current_value">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Current_value </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Current_value}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="percentage">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Change in % </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.percentage.toFixed(2)}} </mat-cell>
          </ng-container>

          
    
          <ng-container matColumnDef="Time">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Time}} </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>


    </div>

  </mat-tab>
</mat-tab-group>






<!--  *ngxPermissionsOnly="['Admin','Staff','Member']"  -->
<div class="row pt-2">
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class=" nga-card bg-light mb-3">

      <!-- <div class="card-header">
            <div class="row">
              <div class="col-10 col-xl-10">
                <h2 class="card-title h2">Holding list</h2>
 
                <h2 style="color: navy;"> {{book_list_count}}  </h2>
           
              </div>
              <div class="col-2 col-xl-2">
                <i class="fab fa-bootstrap text-primary" style="font-size: 20px;"></i>
              </div>
            </div>
          </div> -->
      <!-- <div class="card-body">
            <p class="card-text"> List Of Unique holdings</p>
          </div> -->

      <!-- <div class="card-footer d-flex ">
            <small *ngxPermissionsOnly="['Admin','Staff']"  class="text-muted">
              <a  matTooltip="Add New book"
                matTooltipClass="example-tooltip-red1"   data-target="#addModal"  style="float: right;cursor: pointer;"   data-toggle="modal"    >
                <i class="fa fa-plus-circle"></i>  Add   </a>
            </small>
            &nbsp; &nbsp;
 
       
 
           </div> -->
    </div>
  </div>

  <!-- <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <h1>Upload Holdings (.CSV)</h1>
      <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
 
        <a href="javascript:;" *ngIf="records.length > 0" (click)="startMonitoring()" class="btn btn-primary">Start Monitoring </a>
        &nbsp;&nbsp;
 
 
        <a href="javascript:;" *ngIf="records.length > 0" (click)="stopMonitoring()" class="btn btn-primary">Stop Monitoring </a>
        &nbsp;&nbsp;
       
 
      <a href="javascript:;" *ngIf="records.length > 0" (click)="fileReset()" class="btn btn-primary">Reset </a>  
    </div> -->

  <!-- <div *ngIf="modal" class="modal active">
    <div class="modal-overlay"></div>
    <div class="modal-container" role="document">
      <div class="modal-header">
        <button
          href="#modals-sizes"
          class="btn btn-clear float-right"
          (click)="hideModal()"
          aria-label="Close"
        ></button>
        <div class="modal-title h5">Modal title</div>
      </div>
      <div class="modal-body">
        <div class="content">
          <pre>{{ selected }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="hideModal()">Close</button>
      </div>
    </div>
  </div>
   
 
  <table class="table"  *ngIf="records.length > 0">
    <thead class="thead-dark" >
      <tr>
        <th scope="col">#</th>
        <th scope="col">Min</th>
        <th scope="col">Max</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records;let i = index;">
        <th scope="row">{{record.id}}</th>
        <td>{{record.min}}</td>
        <td>{{record.max}}</td>
        <td>{{record.score}}</td>
      </tr>
 
    </tbody>
  </table> -->

  <!-- <table class="table"  *ngIf="data1.length > 0">
    <thead class="thead-dark" >
      <tr>
        <th scope="col">si</th>
        <th scope="col">Client_code</th>
        <th scope="col">avg_purchase_value</th>
        <th scope="col">Status</th>
        <th scope="col">Script</th>
        <th scope="col">current value</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of data1;let i = index;">
        <th scope="row">{{record.Si}}</th>
        <td>{{record.Client_code}}</td>
        <td>{{record.avg_purchase_value}}</td>
        <td>{{record.Status}}</td>
        <td>{{record.Script}}</td>
        <td>{{record.Current_value}}</td>
        <td>{{record.Time}}</td>
      </tr>
 
    </tbody>
  </table> -->


</div>









<!-- <div class="example-header">
  <mat-form-field>
    <input matInput  #input (keyup)="applyFilter(input.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Si">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Si </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Si}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Client_code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Client_code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Client_code}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="avg_purchase_value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> avg_purchase_value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Script">
      <mat-header-cell *matHeaderCellDef> Script </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Script}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Current_value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Current_value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Current_value}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Time">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Time}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div> -->


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

